__pycache__/
migrations/
media_root/
db.sqlite3
*.xlsx
*.txt
list avoir comptoir
valider disabled
supprimer all after confirmation
30 ventes and take the highest price ..
table of prices to the other side ..
susbtract avoir in vente de jour
avoir in reports substract